<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sample2ConnectionString" connectionString="Database=sample2;User ID=db2admin;Password=trojan0419;Server=localhost"
      providerName="IBM.Data.DB2" />
    <add name="SE3309ConnectionString" connectionString="Database=SE3309;User ID=mkhan446;Password=k1h2a3n4;Server=ebitdb2:50000"
      providerName="IBM.Data.DB2" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>